/* ********************************************************************
*   Author : Cheserae Bidgood(Beukes)
*   Date : 28/05/2018   
*
**********************************************************************/
body{
    font-family: Arial, Helvetica, sans-serif;
    font: bold;
    margin: 0;
    background-color: rgba(255, 196, 86, 0.384);
}
#wrapper{
    width: 980px;
    margin: 0 auto;
    background-color: rgba(255, 255, 143, 0.418);
    border: 2px solid black;
}
.main_navigation{
    background-color: rgb(255, 115, 0);
    padding: 10px;
    border: 2px solid black;
}
.main_navigation ul{
    text-align: right;
    list-style-type: none;
    margin-right: 5px; 
     
}
.main_navigation li{
    display: inline-block;
    
}
.main_navigation a{
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: rgb(255, 196, 86);
    margin-left: 5px;
}
.main_navigation a:hover{
    text-decoration-line: underline;
    background-color: rgb(255, 255, 0);
    text-decoration-color: black;
}
#top_banner img{
    height: 300px;
    width: 99.6%;
    border: 2px solid black;
    
}
#cheese_info{
    margin: 30px 0;
    text-align: center;
}

#product_info{
    font-size: 50px;
    margin-bottom: 0;
}
#cheese_info span{
    display: block;
    font-size: 58px;
    cursor: pointer;
}
#cheese_info p{
    display: block;
    font-size: 58px;
}
#cheese_info a, span{
    display: block;
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none;
    color: rgb(224, 120, 0);
    padding: 10px;
    width: fit-content;
    border: 2px solid black;
    margin: 20px auto;
    border-radius: 10px

}
#cheese_info a:hover, span:hover{
    color: white;
    background-color: orangered;
}
#footer_banner{
    border: 2px solid black;
}
#footer_banner img{
    height: 300px;
    width: 100%;
}
#content{
    background-color: azure;
    width: 400px;
    padding: 20px;
    padding-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    max-height: 270px;
    overflow: hidden;

    -webkit-transition: max-height 1.7s;
    -moz-transition: max-height 1.7s;
    transition: max-height 1.7s;
}
#content p{
    font-size: 100%;
    opacity: 0;
    -webkit-transition: opacity 1.7s;
    -moz-transition: opacity 1.7s;
    transition: opacity 1.7s;
}
#content.open{
    max-height: 1000px;
    -webkit-transition: max-height 1.7s;
    -moz-transition: max-height 1.7s;
    transition: max-height 1.7s;
}
#content p.show{
    opacity: 1;
    -webkit-transition: opacity 1.7s;
    -moz-transition: opacity 1.7s;
    transition: opacity 1.7s;
    
}
#cheese_info a.color{
    -webkit-transition: background 0.7s;
    -moz-transition: background 0.7s;
    transition: background 0.7s;
}